<!-- test2.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% if (users && users.length > 0) { %>
    <h1>Users:</h1>
    <ul>
      <% users.forEach(function(user) { %>
        <li><%= user %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No users found.</p>
  <% } %>
</body>
</html>
