* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -mern-tsle-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mern-ts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 8px;
}

.mern-ts h1{
  text-align: center;
}

.mern-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.mern-form input[type="text"]{
  padding:10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 6px;
}

.mern-form input[type="text"]:focus,
.mern-form button[type="submit"]:focus{
  outline:none;
}

.mern-form button[type="submit"]{
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.todo-items{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.item-content {
  width: 60%;
}

.todo-item button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  margin-left: 1em;
}

.todo-item button:focus {
  outline:none
}

.update-btn {
  background-color: goldenrod;
  color:#fff;
}

.delete-btn {
  background-color: red;
  color:#fff;
}

.update-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.update-new-input {
  width: 80%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px;
  outline: none;
}

.update-new-btn {
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}
